$second-color: #c00bd7;
$white-color: #fff;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
footer {
  box-shadow: 10px 10px 20px black;
  background-color: rgba(0, 0, 0, .8);
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   p {
    margin: 0;
    color: white;
   }
}

.app {
  background-color: #181818;
  background: url('./bgimg.jpg');
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.app-header {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.dark-box {
  padding: 50px;
  
}

.my-photo {
  max-width: 150px;
  height: auto;
  display: block;
  margin: auto;
}
.web-box {
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 20px black;
  background-color: rgba(0, 0, 0, .8);
}
.socialMedia {
  margin-top: 20px;
  list-style: none;
}
.tabs {
  background-color:  rgba(0, 0, 0, .8);
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  color: $second-color;
  border: 1px solid $second-color;
  transition: .3s;
  &:hover {
    color: $white-color;
    border-color: $white-color;
    cursor: pointer;
  }
}
.app a {
  color: $second-color;
  text-decoration: none;
  transition: .3s;
  &:hover {
    color: $white-color;
  }
}